/Exercicio1/nbproject/private/
/Exercicio1/build/
/Exercicio2/nbproject/private/
/Exercicio2/build/
/Exercicio3/nbproject/private/
/Exercicio3/build/
/Exercicio4/nbproject/private/
/Exercicio4/build/
/Exercicio5/nbproject/private/
/Exercicio5/build/
/Exercicio6/nbproject/private/
/Exercicio6/build/
/Exercicio7/nbproject/private/
/Exercicio7/build/
/Exercicio8/nbproject/private/
/Exercicio9/nbproject/private/
/Exercicio9/build/
/Exercicio8/build/
/Exercicio10/nbproject/private/
/Exercicio10/build/
/Exercicio11/nbproject/private/
/Exercicio11/build/
/Exerciciio12/nbproject/private/
/Exerciciio12/build/
/Exercicio13/nbproject/private/
/Exercicio13/build/
/Exercicio14/nbproject/private/
/Exercicio14/build/
/Exercicio15/nbproject/private/
/Exercicio15/build/
/Exercicio16/nbproject/private/
/Exercicio16/build/
/Exercicio17/nbproject/private/
/Exercicio18/nbproject/private/
/Exercicio18/build/
/Exercicio19/nbproject/private/
/Exercicio20/nbproject/private/
/Exercicio20/build/